@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Verrouillé";
}
<br />
<br />
<br />
<br />
<br />

<hgroup>
    <h1 class="text-danger">Verrouillé.</h1>
    <h2 class="text-danger">Ce compte a été verrouillé, veuillez réessayer.</h2>
</hgroup>

<div>Votre compte a été banni car votre comportement ne respectait pas les rêgles du site ou la loi française.</div>
<p>Etre méchant c'est pas bien.</p>