@model Blog.Models.Comment

<section>
    @using (Html.BeginForm("Create", "Comments", new { id = ViewData["ArticleID"]}, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h3>Donnez votre avis:</h3>
        <div class="columns is-multiline">
            <div class="column">
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", style = "width: 100%; max-width: 100%;" })
                @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <button type="submit" class="button is-primary">Poster</button>
            </div>
        </div>

    }
</section>