@model IEnumerable<Blog.Models.Comment>
@using Blog.Controllers;

@foreach (var item in Model)
{

    //Affiche l'auteur d'un commentaire
    <p>
    @{
        Html.RenderAction("GetAuthor", "Comments", new { id = item.UserID });
    }
    </p>
    <p>@item.Content</p>
    <p>@item.Date</p>
    <br />
}

@{
    Html.RenderAction("Create","Comments", new { id = ViewData["ArticleID"] });
}
